.content {
  width: 100%;
  min-height: 100vh;
  background-color: #010809;
  display: flex;
}

.textBox {
  margin-top: 12%;
  /* margin-left: 15%; */
  height: max-content;
  color: white;
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  font-size: 5rem;
}

.topText {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  height: min-content;
  margin-left: 25%;
}

.topText span {
  color: rgb(239, 22, 87);
}

.bottomText {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  height: min-content;
  margin-left: 25%;
}

.imageBox {
  height: 100%;
  flex-basis: 40%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.imageBox img {
  height: 100vh;
  object-fit: contain;
}

.content1 {
  width: 100%;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.line {
  flex-basis: 22%;
  flex-shrink: 0;
  flex-grow: 0;
  height: 0.1vh;
  color: white;
  background-color: white;
}

.shape {
  flex-basis: 15vh;
  height: 15vh;
  flex-shrink: 0;
  flex-grow: 0;
  color: white;
  background-color: black;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.play {
  margin-left: 4%;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 20%;
  height: 20%;
  background-color: white;
}

.resume {
  font-size: 1.5rem;
  padding-left: 3%;
}
