.content {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

.base {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  z-index: 5;
  max-height: max-content;
}

.image {
  background-image: url("../assets/NewDelhi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
}

.overlay {
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.4);
}

.textLayer {
  z-index: 7;
  color: #fee720;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
}

.inputField,
textarea {
  display: inline-block;
  outline: none;
  width: 40%;
  flex-grow: 0;
  flex-shrink: 0;
  resize: none;
}

textarea {
  height: 10rem;
}

.header {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1%;
}

.name,
.email,
.message {
  flex-basis: 100%;
  font-size: 1.5rem;
  margin-bottom: 1%;
  display: flex;
  justify-content: flex-start;
}

.subHead {
  flex-basis: 10%;
}

button {
  flex-basis: 10%;
  background: #fee720;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
}
