.content{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #f2f2f2;
}

.base{
  width: 80%;
  height: 80%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}

.base, .getInTouch, .arrow{
  background-color: #010809;
}

.formSection{
  border-radius: 0 2rem 2rem 0;
  background-color: #ef1657;
}

.leaf{
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
}

.getInTouch{
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
}

.text1{
  align-items: end;
}

.text1, .text2{
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  font-size: 5rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.arrow{
  flex-basis: 2%;
  flex-grow: 0;
  flex-shrink: 0;
}

.formSection{
  flex-basis: 40%;
  padding: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.send{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
