.header {
  font-size: 4rem;
  padding: 4%;
  height: fit-content;

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.content {
  width: 85%;
  margin: 0rem auto;
  columns: 4;
  column-gap: 1.2rem;
  box-sizing: border-box;
}

.background {
  background-color: #f2f2f2;
}

.content .box {
  width: 100%;
  margin-bottom: 1rem;
  break-inside: avoid;
  box-sizing: border-box;
}

.content .box img {
  max-width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0.2rem 0.2rem 0.3rem #04061a;
  transition: all 0.4s ease;
}

.content .box img:hover {
  transform: rotateX(9deg) rotateY(-20deg) rotateZ(3deg);
  box-shadow: -0.2rem 0.1rem 01rem #04061a;
}

@media (max-width: 1200px) {
  .content {
    width: calc(100% -40px);
    columns: 3;
  }
}
@media (max-width: 768px) {
  .content {
    columns: 2;
  }
}
@media (max-width: 480px) {
  .content {
    columns: 1;
  }
}
