canvas {
  width: 100vw;
  height: 90vh;
  background-color: #f2f2f2;
}

.controls {
  width: 100%;
  max-height: max-content;
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
}

input {
  display: none;
}

.previous,
.next {
  background: #ef1657;
  outline: none;
  padding: none;
  margin: none;
  border: none;
  border-radius: 25px;
  box-shadow: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;

  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.textFields {
  width: 100%;
  height: min-content;
  background-color: #f2f2f2;
  color: #010809;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title,
.brief {
  flex-basis: 100%;
  text-align: center;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
}

.brief {
  font-size: 2rem;
  padding-top: 2%;
  flex-basis: 50%;
  font-weight: 600;
}

.newPage {
  flex-basis: 100%;
  padding-top: 2%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}