canvas {
  width: 100vw;
  height: 55vh;
}

.controls {
  width: 100%;
  max-height: max-content;
  display: flex;
  justify-content: space-around;
  background-color: #1b211e;
}

input {
  display: none;
}

.previous,
.next {
  background: none;
  outline: none;
  padding: none;
  margin: none;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  color: #e3f7d3;
  font-size: 1.3rem;
  cursor: pointer;
}

.textFields {
  width: 100%;
  height: min-content;
  background-color: #1b211e;
  color: #e3f7d3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title,
.brief {
  flex-basis: 100%;
  text-align: center;
}

.title {
  font-size: 3.5rem;
}

.brief {
  font-size: 2rem;
  padding-top: 2%;
  flex-basis: 50%;
}

.newPage {
  flex-basis: 100%;
  padding-top: 2%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}